<ul class="brandList" style="display: @@display">
	@@sticky
	<li>
		<figure class="brandLogo lookAtMe">
			<img src="../img/common/sampleLogo01.png" />
		</figure>
		<span class="brandName">버버리</span>
		<span class="brandCount">상품 102개</span>
		<span class="brandTag event"></span>
	</li>
	<li>
		<figure class="brandLogo">
			<img src="../img/common/sampleLogo02.png" />
		</figure>
		<span class="brandName">루이비통</span>
		<span class="brandCount">상품 12개</span>
		<span class="brandTag new"></span>
	</li>
	<li>
		<figure class="brandLogo">
			<img src="../img/common/sampleLogo03.png" />
		</figure>
		<span class="brandName">샤넬</span>
		<span class="brandCount">상품 1,092,012개</span>
	</li>
	<li>
		<figure class="brandLogo lookAtMe">
			<img src="../img/common/sampleLogo04.png" />
		</figure>
		<span class="brandName">에르메스</span>
		<span class="brandCount">상품 38개</span>
		<span class="brandTag event"></span>
	</li>
	
</ul>