<section class="cast">
	<div class="lineBanner">
		<img src="" />
	</div>

	<div class="seriesListBox scrollBox">
		<ul class="scrollList">
			<li class="item1 on new">
				<div class="blur"></div>
				<div></div>
			</li>
			<li class="item2 new">
				<div class="blur"></div>
				<div></div>
			</li>
			<li class="item3 new">
				<div class="blur"></div>
				<div></div>
			</li>
			<li class="item4">
				<div class="blur"></div>
				<div></div>
			</li>
			<li class="item5">
				<div class="blur"></div>
				<div></div>
			</li>
			<li class="item6">
				<div class="blur"></div>
				<div></div>
			</li>
			<li class="item7">
				<div class="blur"></div>
				<div></div>
			</li>
			<li class="item8">
				<div class="blur"></div>
				<div></div>
			</li>
			<li class="item9">
				<div class="blur"></div>
				<div></div>
			</li>
		</ul>
	</div>

	<ul class="seriesCollections">
		<li class="on">
			<h3>신상은 타이밍</h3>
			<h4>이번달에 에디터가 고른 정말 잘산템들!</h4>
			<div class="scrollBox">
				<ul class="scrollList">
					<li class="on">
						<figure>
							<img src="../img/common/sampleBanner01.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
					<li>
						<figure>
							<img src="../img/common/sampleBanner02.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
					<li>
						<figure>
							<img src="../img/common/sampleBanner03.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<h3>발색의 정석</h3>
			<h4>이번달에 에디터가 고른 정말 잘산템들!</h4>
			<div class="scrollBox">
				<ul class="scrollList">
					<li>
						<figure>
							<img src="../img/common/sampleBanner02.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
					<li>
						<figure>
							<img src="../img/common/sampleBanner01.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
					<li>
						<figure>
							<img src="../img/common/sampleBanner03.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<h3>에디터의 쇼핑백</h3>
			<h4>에디터들 공개하는 한 달간 잘 쓴 각종 뷰티 아이템들! </h4>
			<div class="scrollBox">
				<ul class="scrollList">
					<li>
						<figure>
							<img src="../img/common/sampleBanner03.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
					<li>
						<figure>
							<img src="../img/common/sampleBanner02.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
					<li>
						<figure>
							<img src="../img/common/sampleBanner01.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<h3>세상에이런립이</h3>
			<h4>에디터들 공개하는 한 달간 잘 쓴 각종 뷰티 아이템들! </h4>
			<div class="scrollBox">
				<ul class="scrollList">
					<li>
						<figure>
							<img src="../img/common/sampleBanner01.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
					<li>
						<figure>
							<img src="../img/common/sampleBanner02.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
					<li>
						<figure>
							<img src="../img/common/sampleBanner03.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<h3>톤알못</h3>
			<h4>에디터들 공개하는 한 달간 잘 쓴 각종 뷰티 아이템들! </h4>
			<div class="scrollBox">
				<ul class="scrollList">
					<li>
						<figure>
							<img src="../img/common/sampleBanner01.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
					<li>
						<figure>
							<img src="../img/common/sampleBanner02.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
					<li>
						<figure>
							<img src="../img/common/sampleBanner03.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<h3>월간잘쓴템</h3>
			<h4>에디터들 공개하는 한 달간 잘 쓴 각종 뷰티 아이템들! </h4>
			<div class="scrollBox">
				<ul class="scrollList">
					<li>
						<figure>
							<img src="../img/common/sampleBanner01.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
					<li>
						<figure>
							<img src="../img/common/sampleBanner02.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
					<li>
						<figure>
							<img src="../img/common/sampleBanner03.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<h3>립VS립</h3>
			<h4>에디터들 공개하는 한 달간 잘 쓴 각종 뷰티 아이템들! </h4>
			<div class="scrollBox">
				<ul class="scrollList">
					<li>
						<figure>
							<img src="../img/common/sampleBanner01.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
					<li>
						<figure>
							<img src="../img/common/sampleBanner02.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
					<li>
						<figure>
							<img src="../img/common/sampleBanner03.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<h3>브랜드매거진</h3>
			<h4>브랜드를 전격 파헤친다! 브랜드의 모든 것!</h4>
			<div class="scrollBox">
				<ul class="scrollList">
					<li>
						<figure>
							<img src="../img/common/sampleBanner01.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
					<li>
						<figure>
							<img src="../img/common/sampleBanner02.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
					<li>
						<figure>
							<img src="../img/common/sampleBanner03.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<h3>그 외</h3>
			<h4>에디터들 공개하는 한 달간 잘 쓴 각종 뷰티 아이템들! </h4>
			<div class="scrollBox">
				<ul class="scrollList">
					<li>
						<figure>
							<img src="../img/common/sampleBanner01.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
					<li>
						<figure>
							<img src="../img/common/sampleBanner02.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
					<li>
						<figure>
							<img src="../img/common/sampleBanner03.png" />
						</figure>
						<p>째깍째깍 신상은 타이밍 2020 4월 신상 립, 섀도우, 블러셔 추천</p>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</section>