<div>
	<div class="paddingFrame">
		<i class="label">질감을 선택해주세요.</i>
	</div>
	<div class="buttonTabs scrollBox dark">
		<div class="scrollItems">
      <button type="button" class="on">매트</button>
      <button type="button">세미글로시</button>
      <button type="button">글로시</button>
		</div>
	</div>
  <!--  ver 0.5.0 펄감 추가-->
  <div class="paddingFrame">
		<i class="label">펄감을 선택해주세요.</i>
	</div>
	<div class="buttonTabs scrollBox dark">
		<div class="scrollItems">
			<button type="button" class="on">펄이 없는</button>
			<button type="button">펄이 있는</button>
			<button type="button">메탈릭한</button>
		</div>
	</div>


  <!--  ver 0.5.0 gap-top 추가-->
	<div class="relative gap-top">
		<select class="wideSelect">
			<option>정확도순</option>
		</select>
	</div>

	<!-- 프로덕트리스트 -->
	@@include("../partial/productList.html", { type : "two" , display : "block"})
</div>
