<div class="flex column" id="summerColorChips" style="@@style">

		<ul class="colorChipList bigger">
			<li>
				<div class="beforeColorChip" style="background-color:#dc0e0e"></div>
				<div class="on" style="background-color:#b83a4b"></div>
				<div style="background-color:#d50032"></div>
				<div style="background-color:#ba0c2f"></div>
			</li>

			<li>
				<div class="beforeColorChip" style="background-color: #ff85b5"></div>
				<div style="background-color: #e9829d"></div>
				<div style="background-color: #ce7b91"></div>
				<div style="background-color: #cd7ea4"></div>
				<div style="background-color: #da6da6"></div>
				<div style="background-color: #d96187"></div>
				<div style="background-color: #d16c93"></div>
				<div style="background-color: #d3568b"></div>
				<div style="background-color: #e13f7e"></div>
				<div style="background-color: #be4e72"></div>
				<div style="background-color: #cb7d7d"></div>
				<div style="background-color: #c27887"></div>
				<div style="background-color: #ba6e7b"></div>
				<div style="background-color: #a75d64"></div>
				<div style="background-color: #c13a6d"></div>
				<div style="background-color: #e83567"></div>
				<div style="background-color: #cf3d8f"></div>
				<div style="background-color: #d25b73"></div>
				<div style="background-color: #c5003e"></div>
			</li>

			<li>
				<div class="beforeColorChip" style="background-color: #d800a1"></div>
				<div style="background-color: #ab6793"></div>
				<div style="background-color: #af4f6e"></div>
				<div style="background-color: #9f4d5f"></div>
			</li>

			<li>
				<div class="beforeColorChip" style="background-color: #edaf90"></div>
				<div style="background-color: #cf989e"></div>
			</li>
		</ul>
    <div class="colorChipBar" style="background-color: rgb(184, 58, 75);"><strong>체리코랄</strong><span>24개</span></div>
<!--		<div class="colorChipBar"><strong></strong><span></span></div>-->

<!-- 컬러칩 상품목록 -->
@@include("../partial/colorChipsList.html")
<!-- 컬러칩 상품목록 끝 -->

</div>
