<div class="flex column" id="winterColorChips" style="@@style">

		<ul class="colorChipList bigger">
			<li>
				<div class="beforeColorChip" style="background-color:#dc0e0e"></div>
				<div class="on" style="background-color:#a6192e"></div>
				<div style="background-color:#8c2326"></div>
			</li>

			<li>
				<div class="beforeColorChip" style="background-color:#ff85b5"></div>
				<div style="background-color:#cb3053"></div>
				<div style="background-color:#c13656"></div>
				<div style="background-color:#b54071"></div>
			</li>

			<li>
				<div class="beforeColorChip" style="background-color:#d800a1"></div>
				<div style="background-color:#bd347f"></div>
				<div style="background-color:#a82d4a"></div>
				<div style="background-color:#9a3052"></div>
				<div style="background-color:#8d273b"></div>
				<div style="background-color:#972d6e"></div>
				<div style="background-color:#743670"></div>
				<div style="background-color:#702743"></div>
				<div style="background-color:#6d2330"></div>
				<div style="background-color:#51283f"></div>
			</li>

			<li>
				<div class="beforeColorChip" style="background-color:#8f3100"></div>
				<div style="background-color:#663538"></div>
			</li>
		</ul>
    <div class="colorChipBar" style="background-color: rgb(166, 25, 46);"><strong>체리코랄</strong><span>24개</span></div>
<!--		<div class="colorChipBar"><strong></strong><span></span></div>-->

<!-- 컬러칩 상품목록 -->
@@include("../partial/colorChipsList.html")
<!-- 컬러칩 상품목록 끝 -->

</div>
