<div class="flex column" id="springColorChips" style="@@style">

		<ul class="colorChipList bigger">
			<li>
				<div class="beforeColorChip" style="background-color:#dc0e0e"></div>
				<div class="on" style="background-color:#e0494f"></div>
				<div style="background-color:#ea3f39"></div>
				<div style="background-color:#e42e20"></div>
				<div style="background-color: #e4002b"></div>
			</li>

			<li>
				<div class="beforeColorChip" style="background-color: #ff85b5"></div>
				<div style="background-color: #eb97a0"></div>
				<div style="background-color: #ee948b"></div>
				<div style="background-color: #ff808b"></div>
				<div style="background-color: #e87692"></div>
				<div style="background-color: #e35377"></div>
				<div style="background-color: #e9254a"></div>
				<div style="background-color: #ec5262"></div>
				<div style="background-color: #d1525d"></div>
				<div style="background-color: #e6425e"></div>
				<div style="background-color: #ca5c6a"></div>
				<div style="background-color: #df3644"></div>
				<div style="background-color: #ce2643"></div>
			</li>

			<li>
				<div class="beforeColorChip" style="background-color: #ff6a1e"></div>
				<div style="background-color: #eb645f"></div>
				<div style="background-color: #ee5f49"></div>
				<div style="background-color: #e94a4a"></div>
				<div style="background-color: #e94b29"></div>
				<div style="background-color: #dd5145"></div>
				<div style="background-color: #d35731"></div>

			</li>
		</ul>
    <div class="colorChipBar" style="background-color: rgb(224, 73, 79);"><strong>체리코랄</strong><span>24개</span></div>
<!--		<div class="colorChipBar"><strong></strong><span></span></div>-->

<!-- 컬러칩 상품목록 -->
@@include("../partial/colorChipsList.html")
<!-- 컬러칩 상품목록 끝 -->

</div>
