<ul class="pullDownProductList">
	<li>
		<div>
			<figure>
				<img src="../img/common/sampleLipstickImage.jpg" />
			</figure>
			<ul>
				<li>씨앤트리</li>
				<li>누드롭 듀이스틱</li>
				<li>컬러 0가지 &verbar; 23,000원</li>
				<li>
					<span style="background-color: #ff5d6d"></span>
					<span style="background-color: #eb2031"></span>
					<span style="background-color: #f42b19"></span>
					<span style="background-color: #bf0522"></span>
					<span style="background-color: #ffffff; border: 1px solid #cfcfcf; "></span>
					<span>+</span>
				</li>
			</ul>
			<div class="pullDownArrow @@on"></div>
		</div>
		<ul class="@@none">
			<li>
				<img src="../img/common/sampleLip01.jpg" />
				<div class="personalColor winter"></div>
				<div class="personalColor spring"></div>
				래그스 투 리치스
			</li>
			<li>
				<img src="../img/common/sampleLip02.jpg" />
				<div class="personalColor autumn"></div>
				<div class="personalColor summer"></div>
				저스트 서퍼브
			</li>
			<li>
					<img src="../img/common/sampleLip03.jpg" />
					<div class="personalColor summer"></div>
					<div class="personalColor spring"></div>
					저스트 서퍼브
					<div class="tagNewPlate"></div>
			</li>
		</ul>
	</li>
</ul>