.home {
  & .banner {
    text-align: center;
    margin-bottom: 32px;
  }

  & h3 {
    padding-left: 16px;
    position: relative;
    margin-bottom: 24px;

    & a.btn_more {
      position: absolute;
      top: 0;
      right: 16px;
      font-size: 14px;
      line-height: 1.21;
      text-align: right;
      color: #333333;

      & * {
        vertical-align: middle;
      }
    }
  }

  & .navgation_scroll {
    padding: 0 16px;
    margin-bottom: 48px;

    & ul {

    }

    & li {
      float: left;
      width: 25%;

      & a {
        display: block;
        text-align: center;
        width: 72px;
        margin: 0 auto;

        & span, img {
          display: inline-block;
          font-size: 14px;
          line-height: 1.21;
          text-align: center;
          color: #666666;
          letter-spacing: -1px;
        }
      }
    }
  }


  & .recommend-lip {
    position: relative;
    margin-bottom: 77px;


    & .tone {
      position: relative;
      text-align: center;

      & .box {
        width: 90px;
        height: 100px;
        border-radius: 4px;
        border: solid 1px #ededed;
        display: inline-block;
        text-align: center;
        padding: 8px;

        & span {
          display: inline-block;
        }

        & .personalColor {
          font-size: 12px;
          font-weight: bold;
          vertical-align: middle;
          line-height: 18px;
        }

        & .personalColorText {
          font-size: 12px;
          font-weight: bold;
          vertical-align: middle;
          line-height: 18px;

        }

        & .userimg {
          width: 42px;
          height: 46px;
          padding-top: 4px;

          & img {
            width: 100%;

          }
        }

        & .name {
          font-size: 12px;
          line-height: 1.25;
          color: #333333;
          letter-spacing: -1px;
        }

      }
    }

    & .best {
      & .area-top {
        position: relative;
        margin-top: 24px;
        margin-bottom: 17px;
        z-index: 10;

        & .userimg {
          position: absolute;
          top: 0;
          left: 16px;
          width: 84px;
          height: 84px;

          & img {
            width: 100%;
          }
        }

        & .box {
          margin-left: 116px;
          position: relative;

          & .title {
            font-size: 16px;
            font-weight: bold;
            line-height: 1.19;
            color: #333333;
            position: relative;
            margin-right: 90px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-bottom: 8px;
          }

          & .weather {
            position: absolute;
            top: 0;
            right: 16px;

            & span {
              display: inline-block;
              vertical-align: middle;
            }
          }

          & .hash {
            font-size: 12px;
            line-height: 1.25;
            color: #999999;
          }
        }
      }

      & .area-bottom {
        height: 187px;
        background-color: #f7f7f7;
        padding: 35px 16px 16px;
        position: relative;
        z-index: 1;

        & .description {
          font-size: 14px;
          line-height: 1.3;
          color: #666666;
          letter-spacing: -1px;
          margin-right: 170px;
        }

        & .item {
          position: absolute;
          top: 16px;
          right: 34px;
          width: 120px;
          height: 200px;
          background-color: #fff;
          text-align: center;
          border-radius: 4px;
          border: solid 1px #ededed;

          & .itemTag {
            position: absolute;
            top: 16px;
            right: -18px;
          }

          & figure {
            text-align: center;
            margin: 0 auto;
            border-bottom: 1px solid #ededed;
            margin-bottom: 16px;

            & img {
              width: 50px;
            }
          }

          & .textbox {

            padding-left: 16px;

            & .brand {
              display: block;
              text-align: left;
              font-size: 12px;
              line-height: 1.3;
              color: #999999;
            }

            & .name {
              display: block;
              text-align: left;
              font-size: 16px;
              font-weight: bold;
              line-height: 1.3;
              color: #333333;
            }

            & .color {
              display: block;
              text-align: left;
              font-size: 12px;
              line-height: 1.3;
              color: #333333;
            }

          }
        }
      }
    }


  }


  & .best-review-week {

    & .productReviewList {
      background-color: transparent;

      & > li {
        padding: 0 40px;
        background-color: transparent;

        & .paddingFrame {
          padding: 0;

          & article {
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5; /* 라인수 */
            -webkit-box-orient: vertical;
            word-wrap: break-word;
            overflow: hidden;
          }
        }
      }

    }

    & .swiper-container {
      width: 100%;
    }

    & .swiper-slide-active {
      transform: translateX(0px) scale(1);
      transition: transform 0.8s;
      position: relative;
      z-index: 100;
    }

    & .swiper-slide-next {
      transform: translateX(-64px) scale(0.95);
      position: relative;
      z-index: 50;
    }

    & .swiper-slide-prev {
      transform: translateX(64px) scale(0.95);
      position: relative;
      z-index: 50;
    }

    & .swiper-pagination {
      display: flex;
      justify-content: center;
      padding: 8px 0 16px;
      height: 28px;

      & > span {
        transition: width .4s, background-color 0.4s;
        border-radius: 2px;
        margin-right: 4px;
        width: 4px;
        height: 4px;
        background-color: #cccccc;
        font-size: 0;
        line-height: 0;

        &.swiper-pagination-bullet-active {
          width: 14px;
          background-color: #333333;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  & .hot-lip {

    & .buttonTabsContents {
      margin-bottom: 48px;
    }
  }

  & .recommand-brand {
    padding-bottom: 48px;

    & li {
      margin-right: 16px;
      position: relative;

      & .brandTag {
        position: absolute;
        top: 5px;
        right: -10px;
        width: 40px;
        height: 14px;
      }
    }
  }

  & .hot-new-lip {
    height: 188px;
    background-color: #000000;
    padding: 32px 24px;
    position: relative;
    margin-bottom: 68px;

    & .title {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.2;
      color: #ffffff;
      margin-bottom: 24px;

      & span {
        font-size: 14px;
        line-height: 1.21;
        color: #ff336c;
        font-weight: normal;
      }
    }

    & .brand {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.19;
      color: #ffffff;
    }

    & .name {
      font-size: 14px;
      line-height: 1.21;
      color: #ffffff;
    }

    & .color {
      font-size: 14px;
      line-height: 1.21;
      color: #ffffff;
    }

    & .product {
      position: absolute;
      top: 32px;
      right: 16px;
      width: 176px;
      height: 176px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
      background-color: #ffffff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      padding-top: 12px;

      & img {
        width: 76px;
        height: 152px;
      }
    }
  }

  & .new-product {
    position: relative;
    padding-bottom: 48px;
  }

  & .artist-color {
    position: relative;
    padding-bottom: 48px;
  }

  & .week-brand {
    position: relative;
    padding-bottom: 48px;

    & .info_brand {
      position: relative;
      padding-left: 120px;
      padding-top: 11px;
      height: 96px;

      & .img {
        width: 80px;
        height: 80px;
        position: absolute;
        top: 0;
        left: 16px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        overflow: hidden;
      }

      & .title {
        font-size: 20px;
        font-weight: bold;
        color: #333333;
      }

      & .description {
        font-size: 14px;
        line-height: 1.21;
        color: #999999;
      }
    }

    & .mov {
      text-align: center;
    }
  }

  & .event-home {
    position: relative;
    padding-bottom: 48px;

    & .big {
      & img {
        max-width: 100%;
      }

      & p {
        padding: 16px;

        & .tit {
          font-size: 14px;
          font-weight: bold;
          line-height: 1.21;
          color: #333333;
        }

        & .date {
          font-size: 14px;
          line-height: 1.21;
          color: #333333;
        }
      }

    }
    & .list {
      & ul {
        border-top: 1px solid #ededed;
      }
      & li {
        border-bottom: 1px solid #ededed;
        position: relative;
        & a {
          display: block;
          padding-left: 122px;
          padding-top: 16px;
          height: 60px;
        }
        & .img {
          height: 60px;
          width: 106px;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          & img {
              max-width: 100% ;
          }
        }
        & .text {
          display: block;
          font-size: 10px;
          font-weight: bold;
          line-height: 1.2;
          color: #999999;
        }
        & .title {
          font-size: 14px;
          line-height: 1.21;
          color: #333333;
        }

      }
    }
  }

  & .notice {
    position: relative;

    & .list {
      & ul {
        border-top: 1px solid #ededed;
      }
      & li {
        border-bottom: 1px solid #ededed;
        position: relative;
        & a {
          display: block;
          padding-top: 16px;
          padding-left: 16px;
          height: 60px;
        }
        & .text {
          display: block;
          font-size: 10px;
          font-weight: bold;
          line-height: 1.2;
          color: #999999;
        }
        & .title {
          font-size: 14px;
          line-height: 1.21;
          color: #333333;
        }

      }
    }
  }
  & .help {
    background-color: #f7f7f7;
    padding: 16px 16px 24px;
    & a {
      display: block;
    }
    & div {
      width: 50%;
      float: left;
      text-align: center;
      & img {
        margin-bottom: 8px;
      }
      & span {
        display: block;
        &.title {
          font-size: 14px;
          font-weight: bold;
          text-align: center;
          color: #333333;
        }
        & .desc {
          font-size: 14px;
          text-align: center;
          color: #666666;
        }
      }
    }
  }

}


.detail {
  & h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  & .product {
    padding-bottom: 24px;
    border-bottom: 8px solid #ededed;

    & .swiper-container {
      width: 100%;

      & .swiper-slide {
        text-align: center;
      }

      & .swiper-pagination {
        display: flex;
        justify-content: center;
        padding: 8px 0 16px;
        height: 28px;

        & > span {
          transition: width .4s, background-color 0.4s;
          border-radius: 2px;
          margin-right: 4px;
          width: 4px;
          height: 4px;
          background-color: #cccccc;
          font-size: 0;
          line-height: 0;

          &.swiper-pagination-bullet-active {
            width: 14px;
            background-color: #333333;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    & .spec {
      position: relative;
      margin-bottom: 16px;
      padding: 0 16px;

      & .brand {
        height: 20px;
        margin-bottom: 8px;

        & img {
          height: 20px;
        }
      }

      & .title {
        font-size: 20px;
        font-weight: bold;
        color: #333333;
        margin-bottom: 4px;
      }

      & .description {
        font-size: 16px;
        color: #333333;
        margin-bottom: 8px;
      }

      & .weather {
        height: 18px;

        & span {
          display: inline-block;
          font-size: 12px;
          font-weight: bold;
          vertical-align: middle;
        }
      }

      & .price {
        font-size: 14px;
        text-align: right;
        color: #999999;
      }
    }

    & .point {
      height: 54px;
      background-color: #000000;
      padding: 10px 24px;
      margin: 0 16px 16px;

      & p {
        font-size: 14px;
        text-align: center;
        color: #ffffff;
      }
    }

    & .hash {
      padding: 0 16px;
      margin-bottom: 16px;

      & span {
        font-size: 14px;
        line-height: 1.21;
        color: #999999;
      }
    }

    & .btn-move {
      height: 54px;
      background-color: #f7f7f7;
      padding: 16px 16px;
      margin: 0 16px;
      position: relative;

      & span {
        display: inline-block;
        vertical-align: middle;
        line-height: 14px;
      }

      & .title {
        font-size: 14px;
        font-weight: bold;
        color: #333333;
      }

      & .text {
        font-size: 14px;
        color: #333333;
      }

      & .arrow {
        position: absolute;
        top: 16px;
        right: 16px;
      }
    }
  }

  & .line {
    padding: 32px 0 0;
    border-bottom: 8px solid #ededed;
    & .list {
      padding: 0 16px;

      & li {
        margin-bottom: 4px;
        border-radius: 12px;
        overflow: hidden;

        & a {
          display: block;
          position: relative;
          padding-left: 96px;

          & .photo {
            position: absolute;
            top: 0;
            left: 0;
            width: 96px;
          }

          & .color {
            display: block;
            line-height: 60px;
            padding-left: 24px;
            font-size: 14px;
            color: #ffffff;

            & .check {
              position: absolute;
              top: 16px;
              right: 16px;
              line-height: 24px;
            }
          }


        }
      }
    }

    & .btn-allcolor {
      height: 56px;
      line-height: 56px;

      & a {
        display: block;
        text-align: center;
      }
    }
  }

  & .rate {
    padding: 32px 0 0;
    border-bottom: 8px solid #ededed;
    & h3 {
      margin-bottom: 24px;
    }

    & .box {
      position: relative;
      height: 112px;
      margin-bottom: 24px;

      & .count {
        width: 160px;
        position: absolute;
        top: 0;
        left: 0;
        height: 112px;
        border-right: 1px solid #ededed;
        padding-top: 8px;

        & .num {
          text-align: center;
          font-size: 42px;
          font-weight: bold;
          color: #333333;
          margin-bottom: 8px;
        }

        & .star {
          text-align: center;
          margin-bottom: 4px;
          & img {
            display: inline-block;
          }
        }

        & .description {
          font-size: 14px;
          line-height: 1.21;
          text-align: center;
          color: #999999;
        }
      }

      & .rate_list {
        margin-left: 180px;
        padding-top: 8px;

        & li {
          margin-bottom: 4px;
          line-height: 15px;
          & span {
            display: inline-block;
            font-size: 12px;
            line-height: 15px;
            color: #999999;
            vertical-align: middle;
          }

          & .tit {
            width: 34px;
          }

          & .point {
            width: calc(100% - 34px);
            height: 6px;
            border-radius: 4px;
            background-color: #f7f7f7;
            position: relative;

            & .no {
              position: absolute;
              height: 6px;
              border-radius: 4px;
              background-color: #ff336c;
            }
          }

        }
      }
    }
    & .appraisal {
      background-color: #f7f7f7;
      padding: 16px;
      margin: 0 16px;
      & li {
        margin-top: 8px;
        &:first-child {
          margin-top: 0;
        }
        & span {
          display: inline-block;
          vertical-align: middle;
          line-height: 15px;
        }
        & .tit {
          width: 66px;
          font-size: 14px;
          font-weight: bold;
          color: #333333;
        }
        & .point {
          width: calc(100% - 66px - 40px);
          font-size: 14px;
          color: #333333;
        }
        & .no {
          font-size: 14px;
          text-align: right;
          color: #999999;
        }

      }
    }
    & .app {
      height: 138px;
      background-color: #f7f7f7;
      padding: 24px 0;

      border-top: 1px solid #ededed ;
      & p {
        text-align: center;

        margin-bottom: 2px;
      }
      & .description {
        font-size: 14px;
        color: #666666;
      }
      & .black {
        font-size: 16px;
        font-weight: bold;
        color: #333333;
      }
      & .pink {
        font-size: 16px;
        font-weight: bold;
        color: #ff336c;
      }
      & .btn-app   {
        text-align: center;
        & a {
          width: 97px;
          height: 36px;
          border-radius: 2px;
          border: solid 1px #000000;
          font-size: 14px;
          text-align: center;
          color: #000000;
          display: inline-block;
          line-height: 34px;
          background-color: #fff;
          margin-top: 16px;
        }
      }

    }

  }

  & .recommend-lip {
    padding: 32px 0 0;
    & h3 {
      margin-bottom: 24px;
    }
  }
}


