:root {
	--whiteColor: #f9f9f9;
	--pinkColor: #ff336c;
}

main { display: block; }

ul { margin: 0; padding: 0; list-style: none; }

a { font-size: inherit; color: inherit; outline: none; }
a, a:link, a:hover, a:active, a:visited { text-decoration: none; }

/* 크롬, 안드로이드 테두리 없애기 */
* { -webkit-tap-highlight-color: transparent; outline: none; }

/* 스크롤바 없애기 */
.noScrollBar { -ms-overflow-style: none; overflow: -moz-scrollbars-none; }
.noScrollBar::-webkit-scrollbar { display: none; }

/* 버튼 아웃라인 없애기 */
button:focus { outline: none; }

/* 공통 */
.flex { display: flex; }
.showMore { font-size: 14px; color: #cccccc; }
.lookAtMe:before { content: ""; display: block; width: 4px; height: 4px; border-radius: 50%; background-color: var(--pinkColor); }

/* 헤더 메뉴 */
header.showTitle h1 { display: block; }
header.showLeft > .leftIcons { display: flex; }
header.showRight > .rightIcons { display: flex; }

header { position: relative; padding: 0 16px; height: 60px; background-color: white; }
header h1 { top: 18px; display:none; position: absolute; margin: auto; left: 0; right: 0; font-size: 20px; color: #000000; text-align: center; }
header > * { flex: 0 0 auto; }
header .leftIcons, header .rightIcons { display: none; position: absolute; top: 18px; };
header .leftIcons { left: 16px; };
header .rightIcons { right: 16px; };
header .leftIcons > *, header .rightIcons > * { margin-right: 8px; border-radius: 50%; }
header .leftIcons > *:last-child, header .rightIcons > *:last-child { margin-right: 0; };

/* 아이콘들 */
.backArrow { background-color: #999999; width: 24px; height: 24px; }
.gearIcon { background-color: gray; width: 24px; height: 24px; }
.bellIcon { position: relative; background-color: lightGray; width: 24px; height: 24px; }
.bellIcon .lookAtMe:before { position: absolute; top:0; right: 0; }

/* 프로필 박스 */
.profileBox { margin: 4px 0 24px; display: flex; align-items: center; flex-direction: column; }
.profileBox > * { flex: 0 0 auto; }
.profileBox figure { position: relative; border-radius: 50%; width: 100px; height: 100px; background-color: lightGray; }
.profileBox figure .editButton { position: absolute; width: 30px; height: 30px; border-radius: 50%; background-color: white; filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, .15)); right: 0; bottom: 0; }
.profileBox.editMode figure .editButton { background-color: var(--pinkColor); }
.profileBox figure .personalColor { position: absolute; width: 30px; height: 30px; border-radius: 50%; filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, .15)); right: 0; top: 0; }
.profileBox > h2.userId { white-space: nowrap; font-size: 16px; color: #333333; font-weight: bold; }
.profileBox > h2.userId .levelText { font-size: 14px; color: var(--pinkColor); margin-left: 4px; }
.profileBox .follwInfo { color: #999999; font-size: 14px; margin-top: 4px;  }

/* 프로필 내 해시태그 */
.hashTags { justify-content: center; color: #333333; font-size: 14px; margin: 16px 16px 0;  display: flex; flex-wrap: wrap; line-height: 1.6; }
.hashTags > a { margin-right: 5px; flex: 0 0 auto; }
.hashTags > a:before { content: "#"; }
.hashTags > a:last-child { margin-right: 0; }

/* sns 모음 */
.snsBox { justify-content: center; width: 100%; list-style: none; margin: 0; padding: 0; display: flex; margin-top: 16px; }
.snsBox li { margin: 4px; height: 36px; flex: 0 0 36px; border-radius: 50%; background-color: lightGray; }

/* 레벨 진행상황 박스 */
.levelInfoBox { border-radius: 2px; padding: 24px 16px; margin-top: 24px; border: 1px solid #ededed; }
.levelInfoBox .levelInfos { font-size: 14px; display: flex; justify-content: space-between; }
.levelInfoBox .levelInfos .level { color: var(--pinkColor); }
.levelInfoBox .levelInfos .levelFraction { color: #333333; text-align: right; }
.levelInfoBox .levelBar { margin-top: 4px; background-color: #ededed; border-radius: 5px; height: 10px;   }
.levelInfoBox .levelBar .progress { width: 56%; background-color: var(--pinkColor); border-radius: 5px; height: 10px; }
.levelInfoBox .remainLevel { margin-top: 4px; color: #999999; font-size: 12px; }

/* 출석체크 박스 */
.attendCheckBox { width: 100%; background-color: white; border-radius: 2px; margin-top: 16px; padding: 17px 0; border: 1px solid var(--pinkColor); color: var(--pinkColor); font-size: 16px; font-weight: bold; text-align: center;  }

/* 이메일 인증박스 */
.validateEmailBox { margin-top: 24px; text-align: center; border-radius: 2px; border: 1px solid #ededed; padding: 16px 20px; }
.validateEmailBox p { letter-spacing: -0.9px; font-size: 14px; color: black; }
.validateEmailBox button { margin-top: 13px; }

/* 오케이버튼 */
button.okButton { background-color: white; border: 1px solid var(--pinkColor); border-radius: 2px; padding: 11px 16px; color: var(--pinkColor); font-size: 14px; }

/* 좌우 스크롤 박스 */
.scrollBox::-webkit-scrollbar { display: none; }
.scrollBox { padding: 0 16px; overflow-x: auto; overflow-y: hidden; -ms-overflow-style: none; overflow: -moz-scrollbars-none; }
.scrollBox .scrollItems { display: inline-flex; }

/* 파우치 내 제품 서랍 */
.drawer { padding-bottom: 24px; background-image: linear-gradient( to top, #f7f7f7, #e0e0e0 12px); }
.drawer > li { position: relative; padding: 43px 0 8px; height: 183px; background-image: linear-gradient(#e0e0e0, #f7f7f7 24px, #f7f7f7 24px, #f7f7f7 145px, white 145px, #f6f6f6 175px); border-bottom: 8px solid white; }
.drawer > li:first-child { background-image: linear-gradient(#f7f7f7 145px, white 145px, #f6f6f6 175px); }
.drawer > li i { top: 24px; left: 16px; position: absolute; font-style: normal; font-size: 12px; color:#333333; }
.drawer .item { margin-right: 8px; flex-shrink: 0; width: 84px; height: 124px; position: relative; }
.drawer .item .shadow { box-shadow: none !important; background-image: linear-gradient(#e7e7e7, #acacac); position: absolute; height: 4px; width: 74px; filter: blur(2px); bottom: 14px; border-radius: 50%; }
.drawer .item .photo { position: relative; width: 66px; height: 108px; background-color: white; }
.drawer .item .itemTag { position: absolute; top: 16px; left: 58px;  }
.drawer .item .itemName { width: 66px; text-align: center; margin-top: 4px; color: #999999; font-size: 12px; font-weight: bold; }
.drawer li.noItem { padding: 0 0 30px; }

/* 중앙의 큰 버튼 라벨 설정하기, 제품 추가하기 */
.centerButtonBox { display: flex; padding: 16px 16px 24px; background-color: #f7f7f7; }
.centerButtonBox button { font-size: 14px; padding: 16px 26px; flex: 1; border: 1px solid #ededed; color: #333333; background-color: white; }
.centerButtonBox button[disabled] { color: #cccccc; }
.centerButtonBox button:last-child { border-left: none; }

/* 파우치 아이템의 태크, 인생탬,민거템 등, 컬로로 분리 */
.itemTag { white-space: nowrap; padding: 4px 3px; color: white; transform: rotate(90deg); /* width: 34px; height: 18px; */ font-size: 10px; font-weight: bold; text-align: center; background-image: linear-gradient(#ff336c, #ff336c, #c91145); }
.itemTag.brownTag { background-image: linear-gradient(#70593f, #70593f, #433423); }
.itemTag.greenTag { background-image: linear-gradient(#12c815, #12c815, #069c09); }
.itemTag.blueTag { background-image: linear-gradient(#3396ff, #3396ff, #016acb); }

/* 메인 탭 파우치, 나의 글, 스크랩 */
.tabs { display: flex; list-style: none; margin: 0; padding: 0; }
.tabs > li { padding: 16px 8px; font-size: 14px; flex: 1; text-align: center; color: #cccccc;  }
.tabs > li.on { color: #333333; border-bottom: 2px solid #333333; }


/* 기본 프레임 */
.paddingFrame { padding: 0 16px; width: 100%; box-sizing: border-box; }

/* 하단 알림 상자 */
.blackAlert { transition: bottom 0.5s; padding: 20px 16px; background-color: rgba(0, 0, 0, 0.75); border-radius: 4px; color: white; font-size: 16px; text-align: center; position: fixed; bottom: -100px; left: 16px; right: 16px; }

/* 작은 버튼 형 탭 */
.buttonTabs { padding: 16px; overflow-x: auto; }
.buttonTabs button.lookAtMe:before { position: absolute; top: 8px; right: 8px; }
.buttonTabs button { position: relative; white-space: nowrap; margin-right: 8px; border: none; background-color: #f7f7f7; color: #cccccc; padding: 8px 16px; border-radius: 8px; font-size: 14px; }
.buttonTabs button:last-child { margin-right: 0; }
.buttonTabs button.on { background-color: #333333; color: white; }

/* 빈 아이템 목록 */
li.noItem { display: flex; align-items: center; justify-content: center !important; text-align: center; font-size: 12px; color: #cccccc; min-height: 171px; }
li.noItem p { padding-top: 48px; background-repeat: no-repeat; background-position: center 0; background-size: 36px 36px; }
li.noItem p.pencil { background-image: url("../img/common/pencil.png"); }
li.noItem p.bookmark { background-image: url("../img/common/bookmark.png"); }
li.noItem p.lipstick { background-image: url("../img/common/lipstick.png"); }

/* 컬러칩 */
.colorChipBox { min-height: 227px; position: relative; padding: 67px 0px 0; }
.colorChipBox > i { position: absolute; top: 32px; left: 16px; font-style: normal; font-size: 16px; color: #000000; }
.colorChipBox .item { margin-right: 8px; position: relative; width: 80px; height: 96px; }
.colorChipBox .item.addNew .chip { background: url("../img/common/addNewIcon.png") no-repeat center #f7f7f7; background-size: 27px; }
.colorChipBox .item:last-child { margin-right: 0; }
.colorChipBox .item .new { padding: 2px 4px; border-radius: 2px; color: #3396ff; border: 1px solid #3396ff; position: absolute; top: 4px; right: -4px; font-size: 10px; font-weight: bold; background-color: white; }
.colorChipBox .item .new:before { content: "NEW"; }
.colorChipBox .item .chip { width: 80px; height: 80px; border-radius: 8px; background-color: #f7f7f7; }
.colorChipBox .item label { display: block; margin-top: 4px; width: 80px; text-align: center; color: #999999; font-size: 10px; }

/* 하단 메세지 박스 */
.messageBox { transition: bottom 0.5s; padding:24px 16px; position: fixed; bottom: -250px; border-radius: 8px; background-color: white; left: 16px; right: 16px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); }
.messageBox i { font-size: 14px; font-weight: bold; font-style: normal;  }
.messageBox p { line-height: 1.3; white-space: pre-wrap; font-size: 14px; color: #333333; margin: 8px 0 16px; }

.buttonBox { text-align: right; }
.buttonBox button { background-color: white; font-size: 14px; color: #333333; border: 1px solid #ededed; padding: 8px 16px; }
.buttonBox button.default { color: var(--pinkColor); }

/* personalColor Icons */
.personalColor { width: 18px; height: 18px; background: url("../img/common/personalColor.png") no-repeat; background-size: contain; }
.personalColor.spring { background-image: url("../img/common/personalColor2.png"); }
.personalColor.fall { background-image: url("../img/common/personalColor.png"); }

/* 뷰티팁 리스트 */
.beautyTipList { background-color: #ededed; }
.beautyTipList li { margin-bottom: 8px; background-color: white; }
.beautyTipList li:last-child { margin-bottom: 0; }
.beautyTipList article { font-size: 14px; color: #666666; text-align: justify; line-height: 17px; }
.beautyTipList article + .showMore { display: inline-block; margin-top: 8px; }

/* 리스트 내 포토 */
.listPhoto { overflow-x: auto; display: flex; padding: 0; scroll-snap-type: x mandatory; }
.listPhoto img { flex-shrink: 0; display: block; width: 100vw; scroll-snap-align: start;}

/* 리스트의 작성자 정보 */
.writerInfo { align-items: center; display: flex; justify-content: space-between; height: 74px; padding: 16px; background-color: white; }
.writerInfo > div:first-child { align-items: center; display: flex;}
.writerInfo .writerPhoto { background-color: lightGray; width: 42px; height: 42px; border-radius: 50%; }
.writerInfo .writerName { margin-left: 8px; color: #333333; font-size: 16px; font-weight: bold; }
.writerInfo .personalColor {  margin-left: 4px; }
.writerInfo .personalColorText {  margin-left: 2px; color: #ff8a75; font-size: 12px; font-weight: bold; }
.writerInfo .whenDidShe { font-size: 12px; text-align: right; color: #cccccc; }

.productScrollButtons { display: flex; justify-content: center; padding: 8px 0 16px; height: 28px; }
.productScrollButtons > div { transition: width .4s, background-color 0.4s; border-radius: 2px; margin-right: 4px; width: 4px; height: 4px; background-color: #cccccc; }
.productScrollButtons > div.on { width: 14px; background-color: #333333; }
.productScrollButtons > div:last-child { margin-right: 0; }

/* 해시태그 버튼 */
.hashButtons { margin: 24px 0 16px; display: flex; flex-wrap: wrap; }
.hashButtons a { margin: 0 8px 8px 0; padding: 7px 16px; background-color: #f7f7f7; border-radius: 8px; font-size: 14px; color: #333333; }
.hashButtons a:last-child { margin-right: 0; }
.hashButtons a:before { content: "#"; }

/* 과련제품보기 버튼 */
.showMeMoreButton { width: 100%; background-color: white; border-radius: 2px; border: 1px solid #ededed; padding: 13px 10px 10px; font-size: 14px; color: #666666; text-align: center; }
.showMeMoreButton * { vertical-align: middle; }
.pinkStar { margin-right: 7px; display: inline-block; width:18px; height: 17px; background: url("../img/common/pinkStar.png") no-repeat center; background-size: contain; }

/* 하단 소셜인포박스 (좋아요, 덧글 수 등등) */
.socialInfoBox { margin-top: 16px; border-top: 1px solid #ededed; padding: 16px; display: flex; align-items: center; justify-content: space-between; }
.socialInfoBox > div { display: flex; align-items: center; }
.socialInfoBox > div span { font-size: 12px; color: #999999; margin-right: 8px; }
.socialInfoBox > div span:last-child { margin-right: 0; }
.socialInfoBox .smallSocialIcons { margin-right: 4px; background-color: lightGray; border-radius: 50%; }
.socialInfoBox .socialIcons { margin-left: 16px; background-color: lightGray; border-radius: 50%; }

.smallSocialIcons { width: 18px; height: 18px;  }
.socialIcons { width: 30px; height: 30px; }

/* 제품 정보 박스 */
.productInfoBox { height: 70px; padding: 9px 24px; border: 1px solid #ededed; background-color: white; position: relative; }
.productInfoBox .productPhoto { background-color: lightGray; height: 50px; width: 50px; position: absolute; top: 9px; left: 24px; }
.productInfoBox > ul { margin-left: 73px; }
.productInfoBox .productBrand { font-size: 12px; color: #999999; }
.productInfoBox .productName { font-size: 16px; color: #333333; font-weight: bold; }
.productInfoBox .productType { font-size: 12px; color: #333333; }

/* 별점 주기 박스 */
.productInfoBox + .starBox { margin: 18px 0; }
.starBox { align-items: center; display: flex; justify-content: space-between; }
.starBox > div { display: flex; align-items: center; }
.starBox .stars { display: flex; align-items: center; }
.starBox .stars li { border-radius: 50%; margin-right: 4px; border-width: 50%; width: 14px; height: 13px; background-color: #ededed; }
.starBox .stars li:last-child { margin-right: 0;}
.starBox .stars li.on { background-color: #ffe600 }
.starBox .averageStar { margin-left: 8px; font-size: 12px; color: #747783; }
.pinkSmallButton { border-radius: 2px; color: var(--pinkColor); border: 1px solid var(--pinkColor); background-color: white; padding: 2px 4px; font-size: 10px; }

.productReviewReplyList { font-size: 14px; color: #666666; line-height: 1.8; }
.productReviewReplyList li { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.productReviewReplyList li:before { border-radius: 50%; vertical-align: middle; content:""; display: inline-block; width: 24px; height: 24px; margin-right: 16px; background-color: lightGray;  }
.productReviewReplyList li.thumbUp:before {   }
.productReviewReplyList li.thumbDown:before {   }
.productReviewReplyList li.tip:before {   }
.productReviewReplyList + .showMore { margin-top: 8px; display: inline-block; }

/* 제품 평가 */
.productReviewList { background-color: #ededed; }
.productReviewList > li { margin-bottom: 8px; background-color: white; }
.productReviewList > li:last-child { margin-bottom: 0; }

/* 자유톡 */
.freeTalkList { background-color: #ededed; }
.freeTalkList .writerInfo { border-bottom: 1px solid #ededed; }
.freeTalkList > li { margin-bottom: 8px; background-color: white; }
.freeTalkList > li:last-child { margin-bottom: 0; }
.freeTalkList .talkType { display: inline-block; padding: 4px 8px; margin: 24px 0 16px; background-color: #ededed; font-size: 12px; color: #666666; border-radius: 4px; }
.freeTalkList .talkTitle { overflow: hidden; text-overflow: ellipsis; white-space:  nowrap; font-size: 16px; color: #333333; font-weight: bold;  }
.freeTalkList .talkContent { margin-top: 8px; overflow: hidden; text-overflow: ellipsis; white-space:  nowrap; font-size: 14px; color: #666666; }
.freeTalkList .talkContent + .showMore { margin-top: 8px; display: inline-block; }
.freeTalkList img { margin-top: 24px; width: 100%; display: block; }

/* 브랜드 리스트 */
.brandList {  }
.brandList > li { justify-content: flex-start; display: flex; align-items: center; border-bottom: 1px solid #ededed; padding: 12px 16px;  }
.brandList > li .productLogo { flex-shrink: 0; background-size: cover; position: relative; width: 52px; height: 52px; background-color: lightGray; border-radius: 50%; }
.brandList > li .productLogo .lookAtMe:before { position: absolute; top: 0; right: 0; }
.brandList .productName, .brandList .productCount { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.brandList .productName { margin-left: 16px; color: #333333; font-size: 14px; }
.brandList .productCount { margin-left: 14px; color: #999999; font-size: 14px; }
.brandList .productTag { border-radius: 2px; font-size: 9px; margin-left: 10px; color: white; padding: 2px 5px;  }
.brandList .productTag.event { background-color: var(--pinkColor); }
.brandList .productTag.new { background-color: #3396ff; }
.brandList .productTag.event:before { content: "NEW"; }
.brandList .productTag.new:before { content: "EVENT"; }

/* 제품 리스트 */
.productList {  }
.productList > li { display: flex; padding: 8px 16px; height:136px; align-items: center; }
.productList .productPhoto { flex: 0 0 auto; border-radius: 14px; background-color: lightGray; width: 80px; height: 120px;  }
.productList .productPhoto2 { flex: 0 0 auto; margin-left: 16px; background-color: gray; width: 50px; height: 100px;  }
.productList > li > ul { overflow: hidden; margin-left: 24px; }
.productList > li > ul li { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.productList > li > ul li:nth-child(1) { color: #999999; font-size:12px;  }
.productList > li > ul li:nth-child(2) { color: #333333; font-size:19px; font-weight: bold; }
.productList > li > ul li:nth-child(3) { color: #333333; font-size:12px; margin-top: 4px; }
.productList > li > ul li:nth-child(4) { color: #999999; font-size:12px; margin-top:17px; }
.productList > li > ul li .personalColor { margin-right: 4px; display: inline-block; vertical-align: middle; }


/* layer */
.layer { transition: left 0.4s; position: fixed; top: 0; left:100%; background-color: white; width: 100%; height:  100%; }
.layer.show { left: 0; }

/* 프로필 수정 */
.profileBox.editMode {  }
.profileBox.editMode i { margin-bottom: 16px; display: block; font-style: normal; font-size: 14px; color: #666666; }
.profileBox.editMode input[type='email'] { padding: 7px 8px; height: 26px; width: 100%; border: none; border-bottom: 1px solid #cccccc; color: #333333; font-size: 16px; }
.profileBox.editMode .attendCheckBox { margin-top: 35px; }